@page "/Transfer"
@page "/Transfer/{email}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using BakokiWeb.Shared;


<PageTitle>Transfer</PageTitle>

<div class="container ">

    <h1 class="text-center">TRANSFERIR ENTRE CUENTAS</h1>

    <div class="row">

        <div class="d-flex justify-content-around">
            <h3 class="p-2 d-flex align-self-center text-secondary">Desde cuenta</h3>
            <h3 class="p-2 d-flex align-self-center text-secondary">Hacia cuenta</h3>
        </div>

        <div>

            <div class="d-flex justify-content-around">

                <img src="Images/ElegirCuenta.png" style="width:300px; height:300px; margin:15px;" class="rounded" />
                <h1 class="d-flex align-self-center text-secondary"><span class="oi oi-transfer" aria-hidden="true"></span> </h1>
                <img src="Images/ElegirCuenta.png" style="width:300px; height:300px; margin:15px;" class="rounded" />

            </div>


        </div>

    </div>

</div>

@code{
        [Parameter]
        public string? email { get; set; }


        public List<Cuenta> cuentas = new List<Cuenta>();
        public Cliente? cli = new();

        protected override async Task OnInitializedAsync()
        {
            List<Cliente> list = new();
            Cliente? cli = new();
            var result = await Http.GetFromJsonAsync<List<Cliente>>($"api/Client/{email}");
            if (result is not null)
            {
                list = result.ToList();
                if (list.Any())
                {
                    cli = list.FirstOrDefault();
                }
            }

        void NavCuenta()
        {
            if (cli is not null)
            {
                NavigationManager.NavigateTo($"/Cuenta/{cli.Email}");
            }
            NavigationManager.NavigateTo($"/index");

        }

        void NavTransfer()
        {
            if (cli is not null)
            {
                NavigationManager.NavigateTo($"/Transfer/{cli.Email}");
            }
            NavigationManager.NavigateTo($"/index");

        }

        void NavOrdenarLibroDeCaja()
        {
            if (cli is not null)
            {
                NavigationManager.NavigateTo($"/OrdenarLibroDeCaja/{cli.Email}");
            }
            NavigationManager.NavigateTo($"/index");

        }
}
}