<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BakokiWeb</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="NavCuenta">
                <span class="oi oi-credit-card" aria-hidden="true"></span> Ver cuentas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="NavTransfer">
                <span class="oi oi-transfer" aria-hidden="true"></span> Transferir de cuenta
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="NavOrdenarLibroDeCaja">
                <span class="oi oi-book" aria-hidden="true"></span> Ordenar libro de cajas
            </NavLink>
        </div>
    </nav>
</div>

@code {

    [Parameters]

    public string email {get; set;}

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void NavCuenta()
    {
        NavigationManager.NavigateTo($"/Cuenta/{cli.Email}");
    }

    void NavTransfer()
    {
        NavigationManager.NavigateTo($"/Transfer/{cli.Email}");
    }

    void NavOrdenarLibroDeCaja()
    {
        NavigationManager.NavigateTo($"/OrdenarLibroDeCaja/{cli.Email}");
    }



}
